<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.netappsid.mob.ejb3.deployer" name="EJB3 Deployer" schema="schema/com.netappsid.mob.ejb3.deployer.exsd"/>
   <extension-point id="com.netappsid.mob.ejb3.persistence.xslt" name="Persistence xml modification" schema="schema/com.netappsid.mob.ejb3.persistence.xslt.exsd"/>

</plugin>
